<div class="container" *ngIf="!!editForm">
  <h2>Product Details</h2>
  <form [formGroup]="editForm" (ngSubmit)="save()">
  <div class="mb-3">
    <label 
      for="productName" 
      class="form-label">Name</label>
    <input 
      type="text"
      id="productName"
      class="form-control" 
      placeholder="Enter product name"
      formControlName="productName"
    >
    <div>
      {{editForm.get('productName')?.errors | json}}
    </div>
    <div 
      class="alert alert-danger" 
      [hidden]="!editForm.get('productName')?.hasError('required')">
      El campo name es requerido
    </div>
  </div>
  <div class="mb-3">
    <label 
      for="productDescription" 
      class="form-label">Description</label>
    <textarea 
      id="productDescription"
      class="form-control" 
      placeholder="Enter product description"
      formControlName="productDescription"
    ></textarea>
  </div>
  <div class="mb-3">
    <label 
      for="productPrice" 
      class="form-label">Price</label>
    <input 
      type="number"
      id="productPrice"
      class="form-control" 
      placeholder="Enter price"
      formControlName="productPrice"
    >
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid">Save</button>
</form>







</div>
